MUMBLE_HOST=192.168.1.164
MUMBLE_PORT=64738
MUMBLE_USERNAME=RecorderBot
MUMBLE_PASSWORD=
MUMBLE_CHANNEL=Test
RECORDING_SECONDS=30
MUMBLE_CONNECT_TIMEOUT_SECONDS=30
OUTPUT_DIR=/recordings
RECORDING_MODE=continuous
SEGMENT_DURATION_SECONDS=1800

